@model IEnumerable<Specify.Models.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse Genres</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>Select from @Model.Count() genres:</p>
<ul>
    @foreach (var item in Model)
    {      
    <li>@Html.ActionLink(item.Name, "Browse", new { genre = item.Name })</li>
    }
</ul>

